    <h2><a name="methods"></a>Methods</h2>
    
    <% if ctx.has_class_methods? %>
    <h3><a name="class_methods"></a>Class</h3>
    
    <table class="members methods">
      <thead>
        <tr>
          <th class="namehead">Visibility</th>
          <th>Signature</th>
        </tr>
      </thead>
      <tbody>
      <% ctx.class_methods.each_with_index{|method,i| %>
        <%= render_partial :method_listing_row, {:method=>method, :i=>i} %>
      <% } %>
      </tbody>
    </table>
    <% end %>
    
    <% if ctx.has_instance_methods? %>
    <h3><a name="instance_methods"></a>Instance</h3>
    
    <table class="members methods">
      <thead>
        <tr>
          <th class="namehead">Visibility</th>
          <th>Signature</th>
        </tr>
      </thead>
      <tbody>
      <% ctx.instance_methods.each_with_index{|method,i| %>
        <%= render_partial :method_listing_row, {:method=>method, :i=>i} %>
      <% } %>
      </tbody>
    </table>
    <% end %>
